@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #141496;
}

.color-primary {
  color: #141496;
  background-color: #fff;
}

.color-secondary {
  color: #fff;
  background-color: #141496;
}

.color-tertiary {
  color: #fff;
  background-color: #3b413c;
}

.text-color-white {
  color: #fff;
}

.fretora-primary-color {
  color: #141496;
}

.sales {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: start;
}

.limited-badge {
  position: absolute; /* Posiciona el badge de manera relativa a la card */
  top: 10px;
  left: 10px;
  background-color: #d10000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10; /* Asegura que el badge esté siempre por encima de otros elementos */
}
